%% Здесь будут лежать зависимости
{deps_dir, ["deps"]}.

%% Поддиректории, в которые rebar должен заглядывать
{sub_dirs, ["rel", "src/atlasd/", "src/atlasctl/"]}.

%% Опции компилятора
{erl_opts, [debug_info, fail_on_warning]}.

{eunit_opts, [verbose]}.

%% Список зависимостей
%% В директорию gproc будет клонирована ветка master соответствующего git-репозитория.
{deps,
  [
    {gproc, ".*", {git, "http://github.com/esl/gproc.git", "master"}},
    {yamerl, ".*", {git, "https://github.com/yakaz/yamerl.git", "master"}},
    {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", "master"}},
    {nested, ".*", {git, "git://github.com/odo/nested.git", "master"}},
    {elli, ".*", {git, "git://github.com/knutin/elli.git", "master"}},
    {elli_basicauth, ".*", {git, "git://github.com/martinrehfeld/elli_basicauth.git", "master"}}
  ]}.

% copy include files to each project
{pre_hooks,[{compile, "./scripts/share_includes.sh"}]}.
