%% Здесь будут лежать зависимости
{deps_dir, ["../../deps"]}.

%% Поддиректории, в которые rebar должен заглядывать
{sub_dirs, ["src"]}.

%% Опции компилятора
{erl_opts, [debug_info, fail_on_warning]}.

{eunit_opts, [verbose]}.

%% Список зависимостей
%% В директорию gproc будет клонирована ветка master соответствующего git-репозитория.
{deps,
  [
    {yamerl, ".*", {git, "https://github.com/yakaz/yamerl.git", "master"}},
    {getopt, ".*", {git, "https://github.com/jcomellas/getopt.git", "master"}},
    {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", "master"}}
  ]}.

%% atlasctl escript
{escript_name, "atlasctl"}.
{escript_incl_apps, [getopt, yamerl, jiffy]}.
{escript_shebang, "#!/usr/bin/env escript\n"}.
{escript_comment, "%%\n"}.
%{escript_emu_args, "%%! -pa src/atlasctl/ebin\n"}.
