%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, ["../deps", "../src/atlasd/"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "atlasd", "0.0.2",
        [
          kernel,
          stdlib,
          lager,
          inets,
          os_mon,
          gproc,
          yamerl,
          jiffy,
          elli,
          atlasd
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "atlasd"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, hipe, [{incl_cond, exclude}]},
       {app, atlasd, [{mod_cond, app}, {incl_cond, include}, {lib_dir, "../src/atlasd/"}]}
      ]}.

{target_dir, "atlasd"}.

{overlay, [
           {mkdir, "log/"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "atlasd/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {copy, "files/atlasd", "bin/atlasd"},
           {copy, "files/atlasd.cmd", "bin/atlasd.cmd"},
           {copy, "files/atlasctl", "bin/atlasctl"},
           {copy, "files/atlasctl", "releases/\{\{rel_vsn\}\}/atlasctl"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
           {copy, "files/atlasd.yml", "etc/atlasd.yml"}
          ]}.
